@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
@font-face {
    font-family: 'Small Pixel 7';
    src: url('fonts/small_pixel-7-webfont.woff2') format('woff2');
    font-style: normal;
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

img {
	image-rendering: pixelated;
}

li,button {
	font-family: "Press Start 2P", monospace;
	font-weight: 400;
	font-size: 20px;
	color: #ffffff;
	text-decoration: none;
}

nav {
	margin-left: -5%;
	text-decoration: none;
}

.nav_links {
	list-style: none;
	text-decoration: none;
}

.nav_links li {
	display: inline-block;
	padding: 0px 30px;
}

.nav_links li a{
	transition: all 0.3s ease 0s;
	text-decoration: none;
	color: white;
	background-color: none;
}

.nav_links li a:hover {
	color: #222034;
	margin-bottom: 100% ;
}

.container {
	content: ' ';
	position: absolute;
	width: 100%;
	height: 115px;
	margin: auto;
	z-index: -1;
	background-color: #e3a084;
}

header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 0 1%;
	z-index: 10;
}

.logo {
	cursor: pointer;
	margin: auto;
	justify-self: flex-start;
}

button {
	padding: 9px 25px;
	background-color: #222034;
	color: #e3a084;
	border: none;
	cursor: pointer;
	transition: all 0.3s ease 0s;
	justify-self: flex-end;
}

button:hover{
	background-color: #ffffff;
	color: #222034;
}

.article {
	padding: 0% 2%;
	font-family: 'Press Start 2P';
	color: #222034;
	margin:0%;
}
.thumbnail {
	position: absolute;
	z-index: -1;
}
h1 {
	padding: 2% 0%;
	margin-bottom:2%;
	text-align: center;
}

p {
	padding: 0% 2%;
}

li, a {
	color:#e3a084;
	text-decoration: dotted;
}
